/***** COMMON *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
.h4, h4 {
  font-size: 1.5rem;
}

ul, li {
  list-style: none;
}

img, svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
svg {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #f8f9fa;
}
.gray-text {
  color: #6c757d;
}

.section {
  padding: 100px 0;
}

.btn {
  font-weight: 700;
  border-radius: 5px;
  max-width: 235px;
  margin: 0 auto;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.btn-primary {
  background-color: #fb8122;
  border-color: #fb8122;
  font-size: 18px;
  padding: 20px 40px;
  color: #fff;
  text-transform: uppercase;
}
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover {
  background-color: #fb7122;
  border-color: #fb7122;
}

.section-title {
  line-height: 1.2;
}

.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}
.section-subheading {
  font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    line-height: 1.2;
    font-family: "Droid Serif", apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #6c757d;
}

.row {
  display: flex;
  flex-wrap: wrap;
}



/***** HEADER *****/
.fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header {
  background-color: #1d2228;
  height: 70px;
}

.navbar{
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-menu, 
.navbar-contact {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  letter-spacing: 1px;
}
.navbar-contact {
  margin-left: auto;
}
.navbar-menu .nav-item .nav-link {
  text-transform: uppercase;
}

.nav-item:not(:last-child) {
  padding-right: 30px ;
  align-items: center;
}

.nav-item .nav-link:hover {
  color: #fb8122;
} 

.nav-item .nav-link.linkedin,
.nav-item .nav-link.github {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}




/***** INTRO *****/
.intro {
  color: #fff;
  background-image: url(photo1.jfif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50%;
  background-size: cover;
  display: block;
}

.intro-text {
  padding-top: 270px;
  padding-bottom: 200px;
}
.h2-intro-text {
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-top: 0;
}
.h1-intro-text {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  max-width: 900px;
  margin: 50px auto;
}



/***** PROJECTS *****/
.project-row {
  justify-content: space-evenly;
}

.project-item {
  max-width: 500px;
  margin: 0 0 30px ;
  box-shadow: 1px 3px 15px -7px rgb(132 132 132 / 44%);
}
.project-item .project-link {
  position: relative;
  display: block;
  /* max-width: 500px; */
  /* width: 100%; */
  margin: 0 auto;
  cursor: pointer;
}
.project-item .project-link .project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  background: rgba(251,129,34,.9);
}
.project-item .project-link .project-hover:hover {
  opacity: 1;
}

.project-item .project-link .project-hover .project-hover-content {
  font-size: 40px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -9%;
  text-align: center;
  color: #fff;
}


.img-fluid, .img-thumbnail {
  max-width: 100%;
  max-width: 500px;
  height: auto;
  box-shadow: 1px 3px 15px -7px rgb(132 132 132 / 44%);
}



.project-item .project-caption {
  /* max-width: 400px; */
  /* width: 100%; */
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}
.project-item .project-caption h4 {
  margin: 0;
  text-transform: none;
}
.project-item .project-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/***** PROJECT MODAL *****/

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  overflow-y: scroll;
  outline: 0;
}
.modal-dialog {
  margin: 1rem;
  max-width: 100vw;
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal-content {
  padding: 100px 0;
  text-align: center;
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.modal-container {
  max-width: 1000px;
  margin: 0 auto;
}
.modal-body {
  padding: 1rem;
  margin: 0 auto;
}

.project-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project-modal .modal-content p {
  margin-bottom: 30px;
}
.project-modal .modal-content p.modal-subtitle {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: "Droid Serif",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.project-modal .modal-content img {
  margin-bottom: 30px;
}

.project-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;

}
.project-modal .modal-content ul.list-inline a {
  color: #1d2228;
}




/***** ABOUT *****/
.about-row {
  max-width: 1100px;
  margin: 0 auto;
}
.about-me {
  margin-bottom: 50px;
  margin-top: 1.5rem;
}

.about-me img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0,0,0,.1);
  border-radius: 50%
}
.about-me h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  text-transform: none;
}
.about-me p:not(:last-child) {
  margin-top: 0;
  margin-bottom: 1rem;
}

.dev-icons {
  font-size: 3rem;
}


/***** CONTACTS *****/
.contact-row {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.contact-details,
.contact-links,
.contact-btn {
  width: 30%;
}

.contact-details p:not(:last-child) {
  margin-top: 0;
  margin-bottom: 1rem;
}
.contact-details p a {
  color: #fb8122;
}
.contact-details p a:hover {
  color: #fb7122;
  text-decoration: underline;
}

.contact-links svg {
  vertical-align: baseline;
}



/***** list-inline *****/
ul.social-buttons {
  margin-bottom: 0;
}
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline-item {
  display: inline-block;
}
ul.social-buttons li a {
  font-size: 3rem;
  transition: all .3s;
  color: #1d2228;
  margin-left: 8%;
}
ul.social-buttons li a:active, 
ul.social-buttons li a:hover {
  color: #fb8122;
}



/***** FOOTER *****/
.footer {
  padding: 15px 0;
  height: 70px;
  text-align: center;
  background-color: #1d2228;
  color: #fff;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
}
